[2016-10-27 08:17] Thalmann opened #1 "Fix test case: LivenessTest"
See commit: https://github.com/python-security/pyt/commit/d2418ef028436bd8c4419aa31823cf8291ecafe6

[2016-10-27 10:11] Thalmann opened #2 "Update Readme"
use .rst format so it also can be used for pypi packaging

[2016-10-27 15:23] Thalmann opened #3 "pypi packaging"

[2016-10-27 15:23] Thalmann opened #4 "Analyse repos from 2016"

[2016-12-05 19:27] Thalmann opened #5 "Delete repos after scanning"
Check if clean up in repo runner works - it seems not.

[2016-12-05 19:36] Thalmann opened #6 "make a parameter for date for github search"
Make argparse date arg
Maybe make menu for github search

[2016-12-05 19:36] Thalmann opened #7 "Dynamic partitioning of date interval in github search"

[2016-12-05 19:39] Thalmann opened #8 "scan_github"
One big ugly method with a lot of exception handling

[2016-12-05 19:45] Thalmann opened #9 "Virtual env setup guide"

[2016-12-05 19:46] Thalmann opened #10 "Github access token guide in readme"
How to use github search and add file for token

[2016-12-05 19:55] Thalmann opened #11 "Pagination vulnerabilities"
Pyt finds pagination errors which are none - find a way so pyt does not do this

[2016-12-05 19:58] Thalmann opened #12 "github_search unit test"
get_dates is tested

[2016-12-05 20:27] Thalmann opened #13 "Add new language features from 3.5 to cfg"

[2016-12-05 20:27] Thalmann opened #14 "Add new language features from 3.6 to cfg"

[2016-12-05 20:33] Thalmann opened #15 "Search the code base for each repo"
Right now we search overall on a string in github search
Search more specific on each repo
This could give better results and maybe lesser requests per minute
But this off course could also give more requests per minute as it would take two requests per repo

[2016-12-06 09:20] Thalmann opened #16 "Check why travis is failing"
This issues is solved when a description of why travis is failing and a way to fix it is done

[2016-12-13 20:28] StefanMich opened #17 "Implement github_oath_token as a configuration"
see github_search.py

https://docs.python.org/3/library/configparser.html
http://stackoverflow.com/questions/2026876/packaging-python-applications-with-configuration-files

[2016-12-13 20:59] Thalmann commented on #3
Nået til entry_points -> https://packaging.python.org/distributing/#entry-points
Skal det igennem en metode eller kan vi bare angive pyt.py?

[2016-12-13 21:25] StefanMich opened #18 "github-search performance"
Something seems slow as of today!

[2017-01-25 20:04] stufkan commented on #5
Note: It fills my harddrive!

[2017-01-25 20:20] Thalmann opened #19 "Refactor: base_test_case.py"

[2017-01-25 20:32] StefanMich opened #20 "Make diff tool to compare the saved test results with the current test result"
run.py should be able to show the current results file alongside a new testrun

[2017-01-25 20:44] StefanMich opened #21 "Run.py compatibility of newline between windows and linux"
When comparing the saved file and the run, newline variants creates false negatives

[2017-01-25 20:59] #6 closed

[2017-02-21 23:53] KevinHock opened #22 "SyntaxError: Non-ASCII character"
Due to https://github.com/python-security/pyt/blob/master/pyt/cfg.py#L21 we get
[code]

which I think is fixed by adding
[code]
to the top of cfg.py

But, I think it'd be better to just get a new CALL_IDENTIFIER, thoughts?

(Same holds for https://github.com/python-security/pyt/blob/master/pyt/base_cfg.py#L16)

[2017-02-22 00:08] #22 closed

[2017-02-22 00:09] KevinHock commented on #22
(I realized it's a Python3 codebase :man_facepalming: )

[2017-02-24 01:05] KevinHock commented on #16
Is it running it as Python 2 and not 3? 🤔

[2017-02-24 17:03] KevinHock commented on #16
The results file was bad :) Fixed it in my latest PR here https://github.com/python-security/pyt/pull/23

[2017-02-25 18:04] KevinHock commented on #9
# Virtual env setup guide

`mkdir ~/pyt`
`cd ~/pyt`
`git clone https://github.com/python-security/pyt.git`
`python3 -m venv ~/pyt/`
`python --version`
`pip --version`
`cd pyt`
`pip install -r requirements.txt`
`pip list`

In the future, just type `source ~/pyt/bin/activate` to start developing.

[2017-02-25 18:11] KevinHock commented on #9
Any edits I should make? Should I add it in a section in the README?

[2017-02-25 20:04] KevinHock commented on #9
Added it to my latest PR https://github.com/python-security/pyt/pull/23

[2017-02-25 20:26] KevinHock commented on #19
How would you like it refactored?

[2017-02-26 14:54] Thalmann commented on #16
Great, i reviewed your changes.
Can you put this into a separate PR and i can accept it.

[2017-02-28 18:41] Thalmann opened #24 "Split trigger definition file into 3 separate files"
A file for sources, sinks and sanitisers.

[2017-02-28 18:55] Thalmann commented on #19
First off the code style, then this is the BaseTestCase so it should be that and not have CFG specific test methods in it.
So we need a BaseCFGTestCase or something like that. That inherits from the base.
And so on if there are other more specific methods in there.

[2017-03-04 09:29] stufkan opened #26 "Running pyt with no arguments yields exception"
python -m pyt <enter>

expected result: help menu
actual result: exception

[2017-03-04 09:45] Thalmann opened #27 "More user friendly menu"
Custom error messages
Better description of how to use it
Maybe more in depth readme

[2017-03-05 18:17] Thalmann commented on #1
Actually this could be fixed by running it with python 3.6 as dicts are ordered there :b

[2017-03-05 18:24] Thalmann commented on #7
Wait for https://github.com/python-security/pyt/issues/8

[2017-03-05 18:25] Thalmann commented on #9
LGTM - thanks! :)

[2017-03-05 18:25] #9 closed

[2017-03-05 18:27] #16 closed

[2017-03-06 23:54] KevinHock commented on #26
I guess we can just make https://github.com/python-security/pyt/blob/master/pyt/__main__.py#L41 be `entry_group = parser.add_mutually_exclusive_group(required=True)`. I'll do it in my next PR.

[2017-03-07 00:31] KevinHock commented on #1
I'll figure this one out 👍  It _seems_ easy enough to fix w/out the ordered dicts.

[2017-04-16 12:58] #26 closed

[2017-04-18 14:32] KevinHock commented on #1
I guess we can close this one now

[2017-04-18 14:54] KevinHock commented on #11
Do you have an example?

[2017-04-21 15:49] Thalmann commented on #1
Yes TY! :)

[2017-04-21 15:49] #1 closed

[2017-04-22 19:19] jwilk opened #32 "FileNotFoundError: [Errno 2] No such file or directory: '.../trigger_definitions/flask_trigger_words.pyt'"
I installed pyt using:
[code]
But apparently that didn't put the *.pyt files in the right place.
All I get is:
[code]
Tested with git master (96f6205808601a168582b49fbf9dfcb97ecd24f1).

[2017-04-22 19:40] KevinHock commented on #32
Thanks for submitting this, I'll take a look soon.

[2017-04-23 07:54] #32 closed

[2017-04-23 08:28] Thalmann commented on #11
When using flask pagination for instance on this project:
https://github.com/luoluohang/flask_blog/blob/master/app/api_1_0/posts.py
Running pyt on that project yields amongst others this potential vulnerability:

luoluohang/flask_blog
https://github.com/luoluohang/flask_blog
Entry file: flask_blog/app/__init__.py
Scanned: 2017-04-23 10:16:50.999286
Vulnerability 1:
File: flask_blog/app/api_1_0/pos

[2017-04-25 17:51] KevinHock opened #35 "Add CodeClimate"
E.g. If we look at https://github.com/trailofbits/protofuzz we can see the test coverage at the top and a link to code climate.

To fix this we more or less copy the codeclimate.yml and relevant parts of the top of the README.

(So the [easy] issues are good for new people who want to start contributing to look at.)

[2017-04-25 17:55] KevinHock opened #36 "Add readthedocs"
If you look at https://github.com/trailofbits/manticore/blob/master/README.md you can see a nice link at the top to the docs. I'll write the docs once the layout is there, please see
https://www.slideshare.net/mobile/JohnCosta/how-to-readthedocs

(So the [easy] issues are good for new people who want to start contributing to look at.)

[2017-04-25 18:23] KevinHock opened #37 "Add a Python 2 flag"
Skip over the 2to3 shell out if it is set.
You can add a test file with this flag set as well, comment out any test if it fails, also make the flag valueaccessible in the cfg files.

(So the [easy] issues are good for new people who want to start contributing to look at.)

[2017-04-27 05:05] morrme commented on #36
I'd like to help with this.

[2017-04-27 09:14] Thalmann commented on #36
Great,

If you want we can discuss it on slack? Set me an email: mr.thalmann@gmail for invite
Else if you have any questions feel free to ask them here.

[2017-04-27 18:12] morrme commented on #36
@Thalmann thanks! i am revewing the instructions once more and i'll have questions after that.

[2017-04-30 16:54] Toughee commented on #2
I'm working on this right now. Can I be assigned to this?

[2017-05-01 22:14] KevinHock opened #38 "Support __init__ files"
Just wanted to let people know I'm working on this now 👍  (so nobody shows up w/ a PR adding support for them in a few days.)

[2017-05-02 06:58] Thalmann commented on #2
Great, i send you an invite to become a collaborator :)

[2017-05-04 00:02] KevinHock opened #40 "sqli.py test fails on non-3.6 versions of python"
So I tried to add a tox.ini with all the versions of py3 + pypy3, due to the results file I realized with 3.6 you get:

[code]

whereas below 3.6 you get

[code]

notice the difference? It's just an order problem

This would explain why I had to change the `results` file to get Travis CI to pass in https://github.com/python-security/pyt/pull/23

[2017-05-04 00:08] KevinHock commented on #40
I'm just gonna punt this off until later and add a tox file with just `py36`.

[2017-05-04 05:34] Thalmann commented on #40
First of the order differs: Because the vulnerabilities are stored in a dictionary.

The problem you describe above has always been a problem.
I see two solutions:

1. We just order the dict with vulnerabilities.
2. Solution 1 could make pyt slower so we could add it as an argument.

More on dicts in python:
A dict in python is a hash table. The hash function was rewritten to counter a security pr

[2017-05-04 13:26] KevinHock commented on #40
I initially just thought changing the way we're testing it was what we should do, to make order not matter. From a UI point of view ordering the vulns by line number seems kind of desirable though, we'll eventually give the option to sort by severity so writing the option to sort by line number seems good to me 👍

[2017-05-08 03:12] Toughee commented on #2
I'm finished reformatting everything. I'm sending a pull request now.

[2017-05-09 21:29] KevinHock commented on #2
Should we close it now, thanks to https://github.com/python-security/pyt/pull/41, @Thalmann?

[2017-05-09 23:34] KevinHock opened #42 "Add custom usage message"
So my bad, I missed this bug when I made the change to run it with -m, but the default argparse usage message no longer fits with how the program should be run. (It says to run '_ _main_ _.py')

[code]

Hopefully it's something simple like http://stackoverflow.com/questions/21185526/custom-usage-function-in-argparse

[2017-05-12 09:47] Thalmann commented on #2
Yes, i thought i already did that..

[2017-05-12 09:47] #2 closed

[2017-05-12 23:57] KevinHock commented on #35
So I'm gonna do this one now that `__init__` files are done :D

[2017-05-13 04:13] morrme commented on #35
I looked at it but I am not an owner/admin so I couldn't do much.

[2017-05-13 10:11] Thalmann commented on #35
So i do not know anything about codeclimate. I have signed our repo up here: https://codeclimate.com/github/python-security/pyt
Let me know this is what was missing? :slightly_smiling_face:

[2017-05-13 10:21] Thalmann commented on #40
The sanitisers are stored in a dict. So i expect this is the one that is causing it. It can be found in the vulnerabilities.py module.

[2017-05-13 17:27] KevinHock commented on #35
I think it's a matter of troubleshooting and then editing the Travis yml and figuring out how we should generate a .coverage in the Travis yml. (Since we aren't using nose in the example I gave.) https://github.com/python-security/pyt/pull/43

[2017-05-16 15:57] KevinHock commented on #36
@morrme Would you like me to help you w/ this issue?
I found the following that seem like they'll be helpful, I've never done it before though.
http://dont-be-afraid-to-commit.readthedocs.io/en/latest/documentation.html
http://docs.readthedocs.io/en/latest/getting_started.html

 If it requires Admin perms you can always create a fork like I'm trying to w/ the Codeclimate issue, https://codeclimate

[2017-05-16 16:15] morrme commented on #36
@KevinHock i sent a message on slack about this , i love the idea of doing it on a fork to get the process together. i will work on it !

[2017-05-16 16:52] KevinHock commented on #36
Awesome, thanks @morrme :)

[2017-05-16 22:20] KevinHock commented on #35
All done, was pretty easy once I forked https://github.com/python-security/pyt/pull/44

[2017-05-16 22:21] KevinHock commented on #38
PR done, I guess I'll close this.

[2017-05-16 22:21] #38 closed

[2017-05-18 00:02] KevinHock opened #45 "Blackbox functions return tainted value (false positives)"
So, there are 2 commented out tests that I added during my interprocedural PR [here](https://github.com/python-security/pyt/blob/master/tests/vulnerabilities_across_files_test.py#L49) and [here](https://github.com/python-security/pyt/blob/master/tests/vulnerabilities_across_files_test.py#L67).

I was going to fix these via doing something in an `else` of this if in [visit_call](https://github.com/

[2017-05-21 09:30] Thalmann commented on #45
Hmm, i do not know if this even makes much sense.

The first example about absolute import will not even run(ImportError).
The second one will fail when we make the post.

So i do not think we need to support analysis of code the python interpreter does not even understand.

[2017-05-21 09:37] stufkan commented on #45
In my opinion the best solution would be to mark it as a vulnerability and in some way indicate that it is due to the name not being imported. That way the developer is able to disregard the vulnerability if he knows that he uses some dynamic magic to set the name

[2017-05-21 13:38] KevinHock commented on #35
Thanks @Thallman 👍

[2017-05-21 13:38] #35 closed

[2017-05-21 14:10] KevinHock commented on #45
I probably could have explained this better, say [this file](https://github.com/python-security/pyt/blob/master/example/vulnerable_code_across_files/absolute_from_file_does_not_exist.py) some_file could be any call from a library that we can't possibly know e.g. If all tainted args means a tainted return value. I'll change it to some library call that doesn't return a tainted value.

So we shouldn

[2017-05-21 14:29] KevinHock commented on #45
One day we'll do it like [this awesome paper](https://www.doc.ic.ac.uk/~livshits/papers/tr/jscap_tr.pdf) but, we're not there yet.

[2017-05-21 16:44] KevinHock commented on #45
Maybe [this update](https://github.com/python-security/pyt/commit/fee8d51be9ed8ed3c996a39c6aae90a38ad34f5b#diff-b08eee8fd69af19a31e454f05fa2d4ff) to the example file is better, thoughts? (Why would you exec an scrypt hash is a valid question but I didn't feel like running pyt on stuff to find a better example.)

[2017-05-22 23:36] KevinHock opened #46 "Trim the "Reassigned in:" nodes to the ones that are relevant"
So if we have the following code:

[code]

We show the vulnerability output as:

[code]

Where we don't really care about Line 17 and 18 in the output, right?

I ran into this while doing https://github.com/python-security/pyt/issues/45, once I fix this then I can make the PR fixing both of them.

[2017-05-22 23:40] KevinHock commented on #46
I realize the fix needs to happen around https://github.com/python-security/pyt/blob/master/pyt/vulnerabilities.py#L229 and https://github.com/python-security/pyt/blob/master/pyt/vulnerabilities.py#L239, it shouldn't be that hard, right?

[2017-05-23 00:02] KevinHock commented on #46
We can't just do

[code]

because that only gets the last part of the chain, there should be a much better way :)

[2017-05-23 06:26] Thalmann commented on #46
I care about 17 and 18. The reassignments might not be that trivial like in this example :)
IMO: More information is better. We do not want to hide anything from the user running a scan/analysis.

[2017-05-23 13:24] KevinHock commented on #46
I think a good compromise would be to color the assignments leading to the vulnerability different from the rest, but until we do that, what do you think about a command line flag to trim the list? I got a little confused by the output in https://github.com/python-security/pyt/issues/11 due to this to be honest.

[2017-05-23 18:55] Thalmann commented on #46
A flag to hide reassignments are fine with me. But the default should be as it is now :)

[2017-05-31 19:28] KevinHock commented on #42
Now it does

[code]

[2017-06-05 17:26] #42 closed

[2017-06-05 17:36] #46 closed

[2017-06-05 20:08] KevinHock commented on #36
I kind of feel bad about this :/ But I started documenting http://pyt.readthedocs.io/en/latest/?badge=latest via https://github.com/KevinHock/rtdpyt. I'm sorry.

[2017-06-06 02:42] morrme commented on #36
you should not feel bad. i had a few troubles with mine and clearly you got past it.  I initially grabbed the pyt name for my fork and released it so that it would be available. :) glad you got it!

[2017-06-22 17:22] KevinHock opened #53 "(Not an issue right now) Handle multiple returns"
~~I'll try to work on this relatively soon, but~~ to think out loud..

In interprocedural_cfg.py, we have

[code]

which cleaned is

[code]

Firstly, the for loop and the if statement seem to just serve the purpose of "Is there a node of type Return or Raise in the function?" But I think all functions should have at least one return node, right? I'm not sure if I understand the original intention

[2017-06-22 17:46] KevinHock commented on #53
Okay, so, I was going to suggest we do something to sort of OR all the different return values, such that if one was tainted then we would say it returned a tainted value. (Maybe this could be accomplished with e.g. `ret_foo = first_ret + second_ret + third_ret`.)

But, it turns out there's an issue that we would need to fix for this to even be an issue, because we currently do the ORing above eve

[2017-06-30 21:57] KevinHock opened #54 "Write tests for __main__.py"
As we can see on CodeClimate https://codeclimate.com/github/python-security/pyt/coverage/5935971dbf92ed000102998b there is pretty low test coverage of main, I understand why this is but adding some tests for it would increase our test coverage percentage and 75% isn't satisfying.

If you have any trouble with this I can help, I am going to label this issue as Easy so new comers see it.

[2017-07-11 10:51] yongzx commented on #54
@KevinHock, can I contribute to solving this issue? (I am still a beginner in OS.)

[2017-07-11 12:52] KevinHock commented on #54
Sure @yongzx, I can try to write the first test to give you a better idea of what I had in mind, I'll write it sometime today, push it to a branch, and let you know. Apologies for not doing this initially.

[2017-07-11 14:11] yongzx commented on #54
Thanks! It's alright, I was just intending to ask you about the test you had in mind.

[2017-07-12 17:28] KevinHock commented on #54
Hmm, so https://github.com/python-security/pyt/compare/54_tests_for_main is a test for what happens when we pass no args to the program. There is a problem though, if we look at __main__.py from https://codeclimate.com/github/python-security/pyt/coverage, the main() function is what we want more coverage on, so this is only a step closer to running main().

[2017-07-12 19:54] KevinHock commented on #54
(Merged it so it's just easier than 2 people contributing to one branch.) I think the next step is to call main with random args (e.g. Print def use graph to a file) and make tests that verify it does what it currently does. Let me know if you'd like me to write the first of one of these.

[2017-07-13 00:44] #37 closed

[2017-07-13 00:47] KevinHock commented on #36
I'm still working on documenting everything but felt it was good enough to add the badge, once I feel it's more complete I'll make the PR to move my docs/ folder to this repo. But I think I'll close this issue because I mainly wanted the cool badge.

[2017-07-13 00:47] #36 closed

[2017-07-13 07:07] yongzx commented on #54
I will give it a try first. Thanks for the clarification.

[2017-07-15 15:04] yongzx commented on #54
Just understood the codes in __main__.py and how the tests files go together. Will start writing a test for __main__.py.

[2017-07-15 15:36] KevinHock commented on #54
Sounds good, thanks. Feel free to take your time, let me know if you need any help.

[2017-07-19 17:51] KevinHock commented on #53
To do the ORing ( e.g. `ret_foo = first_ret + second_ret + third_ret`) you could easily do it in `return_connection_handler`.

[2017-08-04 20:52] KevinHock opened #58 "Uses of self.nodes[-1] cause false positives"
A little bummed out I didn't realize this until I investigated the failure of the `test_orelse` test on [my ugly branch](https://github.com/python-security/pyt/compare/testing_djangonv#diff-c7870eaa2a6e2a6edee14e0deeccfac6R209), oh well.

Here are the relevant test case and output.

[code]

output with -trim flag on.
[code]

Where does it connect the basic block of the source to does_this_kill_us?

[2017-08-22 05:42] soomonsoon opened #60 "No module named 'graphviz' error"
When attempting to run the intro example on XSS_reassign, I'm getting

ModuleNotFoundError: No module named 'graphviz'

Could someone help me out? I'm really excited to use pyt and ready to get started!

[2017-08-24 12:53] Storm75 opened #61 "Has anyone found the possibility to recursively scan files ?"
How would you scan a whole django repository ?
I may be wrong but it seems that this product misses a very trivial feature...

[2017-08-25 13:07] Pawamoy commented on #61
With other programs like `find` and `xargs`?

[code]

It will scan each file one by one (not as a whole).

[2017-08-28 17:36] KevinHock commented on #60
Hey @soomonsoon, sorry for the late reply, (I have recently been busy with interviews but I think I'm gonna sign an offer tomorrow), can you try out `pip3 install -r requirements.txt` and see if that works for you?

[2017-08-28 17:44] KevinHock commented on #61
So we currently require that you point pyt at controller files yourself (see https://github.com/python-security/pyt/pull/52 for the relevant code) but after an issue I think is high-priority (https://github.com/python-security/pyt/issues/45) is solved maybe I'll work on framework entry-points or Python2 support or some other trivial feature...

[2017-08-28 17:44] #61 closed

[2017-08-29 21:27] KevinHock commented on #58
Fixed! :D

[2017-08-29 21:27] #58 closed

[2017-08-29 22:25] KevinHock opened #62 "Create tests for try_orelse_with_no_variables_to_save and try_orelse_with_no_variables_to_save_and_no_args"
In this commit https://github.com/python-security/pyt/pull/59/commits/23e6412a20cec20b66508950440bb293279b8265 you can see where this would affect the program.(Search for # raise)

The test would be just like `test_orelse` in `cfg_test.py`.

[2017-09-07 19:30] KevinHock opened #64 "Investigate `self.filenames.pop() # Should really probably move after restore_saved_local_scope!!!`"
This is in the user-defined functions code

[2017-09-11 17:32] KevinHock commented on #13
I think 3.5 will do most of 3.6, basic tip is grep http://greentreesnakes.readthedocs.io/en/latest/nodes.html for 3.5 and find the relevant visit_Whatever corresponding to the node.

[2017-09-22 16:12] KevinHock opened #65 "False-negative when function call follows ControlFlowNode"
Just moved to SF! Figured I would talk to myself in a GitHub issue to reacquaint myself with what I was doing.

This issue was the only test to fail on https://github.com/python-security/pyt/pull/63, similar to the [-1] issue it only happens with function calls because it is the only place in the codebase where we "artificially" create nodes.

The reason why the test passed in master and not on th

[2017-09-24 16:27] KevinHock commented on #60
Gonna close this but reopen/Let me know if you still have any problems.

[2017-09-24 16:27] #60 closed

[2017-09-24 17:27] KevinHock commented on #65
(BBnode is used, in the PR atm, for both builtin and blackbox calls, not sure of a better name.)

Also, being that the problem exist for user-defined function calls, I'm pretty sure we'll need to make a new node type for them too.

[2017-09-25 03:43] KevinHock commented on #65
Alright, so I solved this easily with BBorBInode's, user-defined functions shouldn't be that more difficult.

[2017-11-12 03:29] #45 closed

[2017-11-12 03:30] #65 closed

[2017-11-12 03:42] KevinHock opened #68 "Add pre-commit hooks, whatever you like"

[2017-11-12 20:43] KevinHock opened #70 "2 Duplication problems and a false-positive in a portion of django.nV output"
So I run `python -m pyt -a E -f example/django.nV/taskManager/upload_controller.py -trim` and out I get:

[code]

There are at least 3 separate issues with this output.

(a)
Vulnerability #1 should not be in the output, or at least, if you would argue it should be, you'd concede it's a good idea to give an option for vulnerabilities like it to not be in the output. When I say 'vulnerabilities like

[2017-11-12 21:09] KevinHock opened #71 "Add framework adaptor option for Django"
A good heuristic for what a Django controller is is that it has request as the first argument. This is easy enough to implement in an hour by looking at https://github.com/python-security/pyt/pull/52/files though, if you're interested.

[2017-12-01 20:55] davidoc commented on #71
I'm looking into this. It would be nice to also support [class-based views](https://docs.djangoproject.com/en/1.11/topics/class-based-views/).

[2017-12-11 22:59] davidoc opened #73 "Framework adaptor only connects first tainted arg to following nodes"
In `get_func_cfg_with_tainted_args` the following taints the args of a framework function, and then links the first arg to the following nodes:

https://github.com/python-security/pyt/blob/a762e00b757b27d3e20f7938f206f987965c5a86/pyt/framework_adaptor.py#L41-L52

For a framework function where multiple args are user-controlled, this could miss issues related to second or subsequent args. For examp

[2017-12-12 18:19] KevinHock commented on #73
Thanks for making this 👍  I'll fix it in my next PR.

[2017-12-12 18:47] lindycoder opened #74 "Can't clone repo on MacOS"
Hi!

For some weird reason when cloning the repo on a mac (tested with 10.11 and 10.13) the file `pyt/trigger_definitions/flask_trigger_words.pyt` won't be written.

here's an example:

[code]

Even copy pasting the content in a file result in the file not existing. Tried with default terminal, iterm2 and intellij's terminal, all the same so musn't be the terminal.

Doing some try/fail we suspect

[2017-12-12 19:40] KevinHock commented on #74
I can definitely take a look at this around December 23rd, thanks for bringing this to our attention. 👍

[2017-12-12 21:45] davidoc commented on #73
Thanks, I have the change locally here. Would it be OK to include this in a PR with a few other changes related to Django support, or better to handle it separately?

[2017-12-12 22:03] KevinHock commented on #73
Sure thing, you can put it all in one PR, I'll review it sometime during Dec 23rd-29th

[2017-12-25 10:07] Thalmann commented on #74
A friend of mine tried this using MacOS 10.13.2
and git 2.11.0 with the folowing outcome: https://gist.github.com/con-/c031049572531f5a2f59547177f0478b

So i think we need more details or it might be a configuration on your machine :)

[2017-12-26 14:29] lindycoder commented on #74
Well we had this on 2 separate computers here so it's probably not my machine, but could be my company's machines :-/

I am really not sure what more details i can give... but if nobody else can reproduce this, i'll assume we have a weird in house problem

[2017-12-27 13:45] Thalmann commented on #74
I agree with you that this is a weird issue.

Somehow we need some more info. One way to get more is using verbose cloning over https to see if some packages are not sent.

Is it possible for you to try on a private network, not your companies?
Is it possible to try it on a mac not from your company? (We kind of confirmed that already worked earlier so idk how necessary this is..)

I am just putti

[2017-12-29 20:53] Thalmann commented on #74
Can try to clone into another folder than the /tmp folder? Would seem weird if that is the error but just to rule that option out :)

[2017-12-30 16:23] paavininanda opened #76 "Creating clearer readme file."
Step 2 of installation after *git clone ...* should be *cd pyt*

[2017-12-31 15:38] #73 closed

[2017-12-31 15:41] KevinHock commented on #71
Woohoo! Great working with you, you can close the PR and get the green square if you'd like :)

[2017-12-31 15:43] #71 closed

[2018-02-26 23:08] KevinHock commented on #76
Thankfully fixed by @alecxe 👍  in https://github.com/python-security/pyt/pull/79

[2018-02-26 23:08] #76 closed

[2018-02-28 14:22] MacBox7 commented on #3
Till when will it be available from pypi repository?

[2018-02-28 19:21] KevinHock commented on #3
@MacBox7 I'm going to be working on a super cool interactive mode in the short-term https://github.com/python-security/pyt/pull/81 and, in the long-term, fixing issues from
[past_evaluations](http://pyt.readthedocs.io/en/latest/past_evaluations.html). So unfortunately I don't see myself working on this until over a year from now.

If you would like to take this issue on I would greatly appreciate

[2018-02-28 19:44] MacBox7 commented on #3
I don't think publishing on pypi is that big of a task. Plus it requires you to have an account on pypi live and pypi test. So, won't it be better for you to upload it? I don't mind working on it. Should I publish using my credentials?

[2018-02-28 20:34] KevinHock commented on #3
You can publish using your credentials, the name pyt is taken (I messaged Bruno about it a while ago, but this issue hasn't been worked on in a while) so you can name it maybe python-taint or junkhacker or really whatever you prefer ;)

Thank you for working on this 🙏

[2018-03-01 06:45] MacBox7 commented on #3
Execute this `git tag 0.1 -m "Adds a tag so that we can put this on PyPI."`. Need this to generate a tar ball that will be used while uploading. Then execute `git push --tags origin master`. There are already two tags though named as `final` and `finalfinal` and I am not sure which one to use.

[2018-03-01 07:03] MacBox7 opened #84 "Support for output in Json format"
It will become easier for other application to parse the information generated by `pyt`.

[2018-03-01 13:32] polyzen commented on #3
A new release would be A+.

[2018-03-02 02:32] KevinHock commented on #3
Will due this as soon as I get home 👍

[2018-03-02 03:07] KevinHock commented on #3
Should be done now https://github.com/python-security/pyt/releases

[2018-03-02 05:58] MacBox7 commented on #3
@KevinHock Have you tested your commits done on `Mar 1, 2018 `. The setup.py is failing. Try creating a new virtualenv and install pyt. It fails :(

[2018-03-02 07:23] KevinHock commented on #3
Sure thing 👍 It's 11:23pm now but I'll do this at work tomorrow lol :)

[2018-03-03 01:59] KevinHock commented on #3
So I think it might be that it needs to be python 3.6, or that you might need to uninstall it and try again or create a new virtualenv if it already had `pyt==1.0.0a20`.

Here is what I did that worked:
`virtualenv -p python3.6 three_six;source three_six/bin/activate`
then
`git clone https://github.com/python-security/pyt`
then
`python --version` to make sure I'm on Python 3.6.0
then
`python setup

[2018-03-03 02:10] polyzen commented on #3
FWIW, it builds and passes all tests on Arch Linux with more permissive dependency version specifiers:
https://aur.archlinux.org/packages/pyt/
https://aur.archlinux.org/packages/pyt-git/

[2018-03-03 06:29] MacBox7 commented on #3
Yes, you are right it works for Python3.6.
I was using Python3.5 for which it gave the following error :
[code]
I think it would be better if pyt is backwards compatible with at least all version of Python3.

[2018-03-03 23:16] #3 closed

[2018-03-17 16:41] Vaaaaa commented on #68
Can I take this over?

[2018-03-17 20:18] KevinHock commented on #68
@Vaaaaa Yes you can :) Feel free to look at https://github.com/python-security/pyt/pull/88/files for inspiration. Thank you 🙏

[2018-03-18 10:43] Vaaaaa commented on #68
Thanks Kevin, I am new to this but I am keenly interested on this project. Please do help me with these, any specific hooks that should be added in order to handle files in future or any manual python script for any scenario or condition?. I have added hooks like `check-ast`  and `check-symlinks`, Correct me in case I am missing something.

[2018-03-18 18:12] KevinHock commented on #24
I don't know if 3 different config files are better than the one IMHO

[2018-03-19 05:25] KevinHock commented on #68
Those plus the ones in the PR should be good. 👍

If you're hoping to get more into PyT I would read the docs (incomplete but still good) and then try out
https://github.com/python-security/pyt/issues/62 To get more exposure to how the interprocedural/ast visitor works. I'm about to change how PyT finds vulnerabilities in a pretty big way but after the current open PR is merged we can work together

[2018-03-19 05:26] KevinHock commented on #68
(Typing on the train, accidentally closed.)

Work together on the vulnerabilities part. (E.g. The json output and stuff.)

[2018-03-19 09:31] Vaaaaa commented on #68
Thanks Kevin, I will push the hook changes. I will be working on #62.

[2018-03-19 17:22] KevinHock commented on #68
Awesome, I'll update my #62 issue description to be more helpful 👍

[2018-03-19 20:47] KevinHock commented on #62
So the test python files are there, and the `# raise` comments I made are still the right places, some names have been changed but the 2 spots are now https://github.com/python-security/pyt/blob/master/pyt/interprocedural_cfg.py#L378 and https://github.com/python-security/pyt/blob/master/pyt/interprocedural_cfg.py#L603 I think.

[2018-03-19 20:48] KevinHock commented on #62
The docstring in `process_function` should be very helpful.

[2018-03-20 07:24] Vaaaaa commented on #62
Looking into this. :)

[2018-03-23 17:38] KevinHock commented on #68
Thanks for your help on this @Vaaaaa

[2018-03-23 17:38] #68 closed

[2018-04-01 22:11] KevinHock opened #101 "Baseline support"
Once https://github.com/python-security/pyt/pull/100 is merged this will be do-able.

So a baseline is for when you want to diff between a previous run, (probably of known issues or false-positives) and a current run, 'as a big part of continuous integration', baseline support is super important.

See https://github.com/openstack/bandit as a tool that implements this.

[code]

There is also the ne

[2018-04-04 01:10] KevinHock commented on #101
Would you like to take this one @omergunal?

[2018-04-04 05:10] omergunal commented on #101
Sure, i will work on this

[2018-04-08 18:43] noraj opened #102 "ModuleNotFoundError on fresh git install"
Hi,

I just follow the install steps :

[code]

But I get an error:

[code]

Of course my default python is 3.6:

[code]

I'm under Manjaro.

[2018-04-08 20:06] KevinHock commented on #102
This should be good now with https://github.com/python-security/pyt/pull/103  👍 Thanks again for reporting.

[2018-04-08 20:06] #102 closed

[2018-04-09 04:13] MacBox7 opened #104 "Pinned requirements in setup.py"
Is it really necessary to pin requirements to a specific version which is being done in `setup.py`?
[code]
Because pinning requirements can cause version conflicts with other projects working in the same environment. The best practice would be to set a minimum version(as low as possible) for which the project would work.

[2018-04-09 16:16] davisjam opened #105 "Suggestion: Detect regexes vulnerable to catastrophic backtracking"
It doesn't look like your scanner checks for regexes vulnerable to catastrophic backtracking (-> REDOS).

To do that you could use some tools I built [here](https://github.com/davisjam/vuln-regex-detector). The underlying detectors incur dependencies (2 rely on Java, one relies on OCaml).

If dependencies are a problem, I am hosting a server that answers queries, see docs and code [here](https://g

[2018-04-09 17:34] noraj commented on #102
You're welcome, it's the pleasure to see the project is maintained. By the way I re-try the upstream git version and it's working now.

[2018-04-09 18:02] KevinHock commented on #105
This is interesting 👍  Thanks for the idea

[2018-04-09 18:10] KevinHock commented on #104
@MacBox7 You're totally right about this, it's kind of crust left over from over a year ago, I shall fix it soon. 👍 Thank you for bringing it up.

[2018-04-10 02:13] #104 closed

[2018-04-13 16:26] KevinHock commented on #101
🎉

[2018-04-13 16:26] #101 closed

[2018-04-14 18:27] KevinHock opened #108 "Feature Request: Whitelist lines ending in # nosec"
So both [detect-secrets](https://github.com/Yelp/detect-secrets/blob/master/detect_secrets/plugins/high_entropy_strings.py#L41) and Bandit have the concept of whitelisting a line by putting a comment at the end, similar to how you've probably seen people do `# noqa: F401` or whatever, with pylint.

Let us steal once again, from Bandit, since they are most similar to us, [here are the relevant line

[2018-04-14 18:35] KevinHock commented on #108
While I initially thought we would just give the option to add `# nosec` to the sinks, e.g.

[code]

We can, without writing any more lines of code, give the option to add `# nosec` to the sources, e.g.

[code]

This may be the preference of a security team, as the code may change in the future, and it's more dangerous to have the sink be whitelisted, because there may be multiple [vuln chains](ht

[2018-04-14 18:36] KevinHock commented on #108
Would you like to take this one, @omergunal?

[2018-04-14 19:59] omergunal commented on #108
sure

[2018-04-14 20:17] KevinHock commented on #108
I forgot to say this before, but after passing the set of lines to `find_vulnerabilities` we can ignore both sources and sinks in the same function, [find_triggers](https://github.com/python-security/pyt/blob/master/pyt/vulnerabilities.py#L171-L185), something like `if node.lineno not in nosec_lines:`

[2018-04-15 00:47] KevinHock opened #109 "Add docstrings to everything"
You can do:

`pip install pydocstyle`
`python pydocstyle.py` (in the pyt repo)
and it'll spit out which functions don't have docstrings or complain about something non-PEP 257 compliant.

This is a great way to learn the codebase, and everyone will love you for it.

The [imports code for example](https://github.com/python-security/pyt/blob/master/pyt/stmt_visitor.py#L716-L1013) does not have docst

[2018-04-15 01:52] KevinHock commented on #74
Hi, @lindycoder hope all is well, are you still experiencing this issue?

[2018-04-15 01:53] KevinHock commented on #40
I think this isn't much of an issue :p

[2018-04-15 01:53] #40 closed

[2018-04-15 01:55] KevinHock commented on #4
I'm gonna close this one as I'm doing that as part of my [every other quarter evaluations](http://pyt.readthedocs.io/en/latest/past_evaluations.html).

[2018-04-15 01:55] #4 closed

[2018-04-15 02:03] KevinHock commented on #11
So I'm pretty sure this should be solved with the [blackbox mapping](https://github.com/python-security/pyt/pull/81)

[code]

[2018-04-15 02:04] KevinHock commented on #11
As an aside: Why is `url_for` a sink? Maybe I don't know that much about Flask

[2018-04-15 02:33] lfatty opened #113 "Many SyntaxErrors"
I discovered many SyntaxError during setup.py installation.

[code]

[code]

[code]

[code]

[code]

[2018-04-15 06:46] KevinHock commented on #113
Ahh so this is due to you running in under Python 2, under Python 3, (especially 3.6), everything will run well :)

[2018-04-15 11:33] cclauss commented on #113
https://travis-ci.org/python-security/pyt/builds/366758979#L109

[2018-04-15 18:34] cclauss commented on #113
[python -m tests](https://github.com/python-security/pyt/blob/master/.travis.yml#L8)

[2018-04-15 18:38] KevinHock commented on #113
Thanks for the PR @cclauss, I will check it out tomorrow night :)

@lfatty which web framework is the repo? You can use `find` to list all the files and then run PyT on them with -f but the framework matters a little bit.

[2018-04-15 18:54] lfatty commented on #113
Lets it is django

[2018-04-15 22:25] lfatty commented on #113
I also when running a test against django.nV, I got the following:

[code]

Is this expected or normal?

[2018-04-15 23:04] KevinHock commented on #113
Try -a E or -a D, it's the framework adaptor option.

[2018-04-16 00:52] lfatty commented on #113
Ok, i am not being successful. Can put down the synthax for that? thx

[2018-04-16 05:30] #11 closed

[2018-04-16 13:00] lindycoder commented on #74
Hey, sorry i forgot about this....

I've got a brand new Mac running 10.12.6 and the issue is still happening.

I tried different shells : iTerm2 vs. Terminal vs. Intellij's built in Terminal, all same

I tried outside my company's network, stil the same.

for @Thalmann , only my example was in /tmp the problem is present in other folders.

So frankly it must be my company's management tool or the

[2018-04-16 13:00] #74 closed

[2018-04-16 13:41] lfatty commented on #113
Thanks @KevinHock, I think this tool is very promising especially if we can make it very easy to use. Also we need think about a new option such as `-r, --recursive       find and process files in subdirectories`. Just a suggestion.

[2018-04-16 16:58] KevinHock commented on #20
So the new baseline feature fits this description, going to close

[2018-04-16 16:58] #20 closed

[2018-04-16 18:05] KevinHock commented on #113
Thank for the kind words @Ifatty, I'll definitely work on that too, I've been overly focused on fixing the false positive and negative problems from our last evaluation, I'll also work on de duplicating any duplicate vulnerabilities as a post-processing step until I fix the root cause.

[2018-04-17 04:12] KevinHock commented on #113
You can try this `python -m pyt -a E -f examples/django.nV/taskManager/views.py --interactive` before I implement the `-r` and de-duping options.

[2018-04-17 04:13] KevinHock commented on #113
`python -m pyt -a E -f examples/django.nV/taskManager/upload_controller.py --interactive` has slightly less worse findings, you can edit the sink information by editing `pyt/vulnerability_definitions/all_trigger_words.pyt `

[2018-04-17 14:10] lfatty commented on #113
@KevinHock, I ran `python -m pyt -a E -f examples/django.nV/taskManager/upload_controller.py --interactive` and all looks fine. But, when I ran the command against my code, i got the following output:

[code]

[2018-04-17 16:40] KevinHock commented on #113
Thanks for reporting that, I missed it in a recent refactor, I'm sorry about that, `stmt_visitor` has 90% coverage but `visit_Raise` is somehow missing, I'll add test coverage to that as well.

[2018-04-17 17:03] KevinHock commented on #21
The baseline feature should take case of this.

[2018-04-17 17:03] #21 closed

[2018-04-17 17:05] KevinHock commented on #64
I can do this myself later, as part of https://github.com/python-security/pyt/issues/70

[2018-04-17 17:05] #64 closed

[2018-04-17 18:57] lfatty commented on #113
np. i should be noted that something like `def my_data(self)` by way of example. I think we need to revisit `self`as user input because it may generate many false positives.

[2018-04-17 19:16] KevinHock commented on #113
That is a very simple fix, I'll do that after work today, I thought we had had that. Also FYI `-a D` is the adaptor for Django, it'll only mark functions with the first arg as `request` tainted https://github.com/python-security/pyt/blob/master/pyt/framework_helper.py#L24 I know that isn't fool-proof though.

[2018-04-17 19:53] lfatty commented on #113
Great!

[2018-04-18 16:17] KevinHock commented on #113
Sorry I haven't made/merged the 'don't mark self tainted' PR (finished handling  IfExp's and partially done with BoolOp last night on a non-pushed branch) if you're curious it should be just checking the first arg here https://github.com/python-security/pyt/blob/master/pyt/framework_adaptor.py#L44

[2018-04-19 12:34] lfatty commented on #113
Thanks @KevinHock. I will test it and will keep you posted.

[2018-04-24 21:48] Ekultek opened #122 "Trigger words does not exist"
[code]

Running context: `pyt -f <FILE>.py` or `python -m pyt -f <FILE>.py`

[2018-04-24 23:11] KevinHock commented on #122
Fixed 😀 Thanks 👍

[2018-04-24 23:11] #122 closed

[2018-04-24 23:15] KevinHock commented on #122
i thanked you in the changelog https://github.com/python-security/pyt/blob/master/CHANGELOG.md

[2018-04-28 02:06] KevinHock commented on #8
Now that PyT is on PyPi, I think it would be best if I made a separate repo for the GitHub scanner code, for a clean separation between the two. Like [`detect-secrets`](https://github.com/Yelp/detect-secrets) and `detect-secrets-server`(https://github.com/Yelp/detect-secrets-server).

[2018-04-28 02:06] #8 closed

[2018-04-28 02:07] KevinHock commented on #10
Now that PyT is on PyPi, I think it would be best if I made a separate repo for the GitHub scanner code, for a clean separation between the two. Like [`detect-secrets`](https://github.com/Yelp/detect-secrets) and [`detect-secrets-server`](https://github.com/Yelp/detect-secrets-server). We can reference it from the README.

[2018-04-28 02:07] #10 closed

[2018-04-28 02:07] KevinHock commented on #12
Now that PyT is on PyPi, I think it would be best if I made a separate repo for the GitHub scanner code, for a clean separation between the two. Like [`detect-secrets`](https://github.com/Yelp/detect-secrets) and [`detect-secrets-server`](https://github.com/Yelp/detect-secrets-server). We can reference it from the README.

[2018-04-28 02:07] #12 closed

[2018-04-28 02:07] KevinHock commented on #15
Now that PyT is on PyPi, I think it would be best if I made a separate repo for the GitHub scanner code, for a clean separation between the two. Like [`detect-secrets`](https://github.com/Yelp/detect-secrets) and [`detect-secrets-server`](https://github.com/Yelp/detect-secrets-server). We can reference it from the README.

[2018-04-28 02:07] #15 closed

[2018-04-28 02:07] KevinHock commented on #17
Now that PyT is on PyPi, I think it would be best if I made a separate repo for the GitHub scanner code, for a clean separation between the two. Like [`detect-secrets`](https://github.com/Yelp/detect-secrets) and [`detect-secrets-server`](https://github.com/Yelp/detect-secrets-server). We can reference it from the README.

[2018-04-28 02:07] #17 closed

[2018-04-28 02:07] KevinHock commented on #18
Now that PyT is on PyPi, I think it would be best if I made a separate repo for the GitHub scanner code, for a clean separation between the two. Like [`detect-secrets`](https://github.com/Yelp/detect-secrets) and [`detect-secrets-server`](https://github.com/Yelp/detect-secrets-server). We can reference it from the README.

[2018-04-28 02:07] #18 closed

[2018-04-28 02:07] KevinHock commented on #5
Now that PyT is on PyPi, I think it would be best if I made a separate repo for the GitHub scanner code, for a clean separation between the two. Like [`detect-secrets`](https://github.com/Yelp/detect-secrets) and [`detect-secrets-server`](https://github.com/Yelp/detect-secrets-server). We can reference it from the README.

[2018-04-28 02:07] #5 closed

[2018-04-28 02:07] KevinHock commented on #7
Now that PyT is on PyPi, I think it would be best if I made a separate repo for the GitHub scanner code, for a clean separation between the two. Like [`detect-secrets`](https://github.com/Yelp/detect-secrets) and [`detect-secrets-server`](https://github.com/Yelp/detect-secrets-server). We can reference it from the README.

[2018-04-28 02:07] #7 closed

[2018-04-28 18:38] KevinHock commented on #108
Woohoo 👍

[2018-04-28 18:38] #108 closed

[2018-04-28 18:41] KevinHock commented on #54
I did this in another branch already, gonna merge in a week or two, but I figured I would close this now.

[2018-04-28 18:41] #54 closed

[2018-04-28 18:41] KevinHock commented on #19
I did this in another branch already, gonna merge in a week or two, but I figured I would close this now.

[2018-04-28 18:41] #19 closed

[2018-04-30 12:19] mboelen opened #124 "Tags: 'final' and 'finalfinal'"
Hi team,

Thanks for your project. We added [Pyt](https://linuxsecurity.expert/tools/pyt/) to our security tools section. While reviewing we noticed we could only extract tags from the GitHub repo, as no releases are used. Now tags are sorted by alphabet, meaning that the tagged version 'finalfinal' always is listed as the highest release number. Not sure if it is possible, but you could re-tag it

[2018-04-30 17:26] KevinHock commented on #124
I'll try getting all releases and tags deleted that aren't 0.34 (since .34 is the only one documented in the changelog and the latest version.)

[2018-04-30 17:27] KevinHock commented on #124
Git tags are pretty permanent AFAIK though, we'll see

[2018-04-30 17:33] mboelen commented on #124
Thanks. [This link](https://stackoverflow.com/questions/6151970/how-do-you-remove-a-tag-from-a-remote-repository#6151985) might be helpful?

[2018-05-01 15:53] KevinHock commented on #124
Quite helpful indeed @mboelen :D This should be fixed

[2018-05-01 15:53] #124 closed

[2018-05-01 16:09] KevinHock commented on #62
Hi @omergunal

https://github.com/python-security/pyt/commit/7a2842906d90d7b280828722150a3d3045f2f315

should be enough to get you going 👍

[2018-05-01 16:38] omergunal commented on #62
this was very helpful :)

[2018-05-01 17:50] mboelen commented on #124
Thanks, it shows 0.34 now on our tool page :)

[2018-05-01 17:55] KevinHock commented on #124
Awesome! :D

[2018-05-03 01:43] KevinHock opened #127 "Implement -r recursive option"
So let us steal, once again (a 3rd, or 4th time), from Bandit.

https://github.com/openstack/bandit/blob/master/bandit/cli/main.py#L157-L160

https://github.com/openstack/bandit/blob/8f09d8b208f037b7d49ed6bc88f2ac200e7cc06c/bandit/core/manager.py#L171-L219

This will enable a user to just give `-r /path/to/files` instead of `-f file` one at a time.

This is less straightforward, you should also ad

[2018-05-03 01:44] KevinHock commented on #127
Look at the files I linked to see how all this is done.

[2018-05-03 01:44] KevinHock commented on #127
Hi @omergunal, I have a hard task for you 👍

[2018-05-03 16:15] omergunal commented on #127
All right, i'm waiting for you

[2018-05-03 17:24] KevinHock commented on #127
Yes?

[2018-05-03 18:42] omergunal commented on #127
We can work on this when you finish documentation

[2018-05-05 18:19] KevinHock opened #128 "Add a "don't ask me anymore" option to the interactive mode"
this is where we ask for input in vulnerabilities.py

[2018-06-11 06:04] prithvisingh18 commented on #128
Hi, can I try to solve this issue ?

[2018-06-11 19:18] KevinHock commented on #128
Hi prithvisingh, definitely 👍🙏

I'll try to make the issue description etc. better later today, but for understanding the code a bit more see this pr https://github.com/python-security/pyt/pull/81 :)

[2018-06-23 03:44] KevinHock commented on #127
Yay 🎊 🎉 🎈

[2018-06-23 03:44] #127 closed

[2018-06-23 18:48] KevinHock opened #131 "Write tests for `discover_files` in __main__, update CHANGELOG and root README with -r and targets Documentation"
Writing tests and documentation are slightly less fun than writing code, but equally as important.

I'm making slides (and might write more nested READMEs) on the weekends, and working on my open PR on Mon/Wed/Fri after work at the moment, I'm excited for whatever is next though :)

[2018-06-23 18:57] KevinHock commented on #131
You're the best @omergunal 👍 🍰 🥇

[2018-06-23 19:05] omergunal commented on #131
Aha new challenge accepted :+1:

[2018-06-24 21:53] KevinHock opened #133 "[cfg] We don't visit functions in while loops"
You can see we do it for `for` loops and not while loops https://github.com/python-security/pyt/blob/346a2d3070f70efbf81be44c261f356ba6fc0f1c/pyt/cfg/stmt_visitor.py#L513-L529

[2018-06-24 22:07] KevinHock opened #134 "[helper_visitors] Write tests for vars_visitor.py"
It has the lowest test coverage out of every file.

Note: especially `visit_Subscript`, so I can improve the `get_call_names` documentation.

[2018-06-30 21:41] KevinHock commented on #133
I think reading the [cfg readme] is a good start on this https://github.com/python-security/pyt/tree/master/pyt/cfg

[2018-07-02 17:14] KevinHock commented on #133
Hi @omergunal, would you like to take this one?

[2018-07-02 19:11] omergunal commented on #133
i would :tada:

[2018-07-03 16:41] KevinHock commented on #61
So this was done for real with the `-r` flag.

[2018-07-06 22:57] #134 closed

[2018-07-07 00:57] KevinHock commented on #134
Awesome https://codeclimate.com/github/python-security/pyt/pyt/helper_visitors/vars_visitor.py

[2018-07-07 18:39] KevinHock commented on #27
I'm not sure what was meant by `Custom error messages` but I'm doing the latter 2 parts as part of https://github.com/python-security/pyt/issues/113 So I think I'll close this one as a duplicate.

Game plan as follows, if curious: (1) finish current open PR (to fix false-negatives around not handling expr*/boolop/ifexp/etc.) (2) make my class-based views branch a PR (3) add a more in-depth README

[2018-07-07 18:39] #27 closed

[2018-07-07 18:58] KevinHock opened #141 "Improve test coverage from 91% to 100%"
Test coverage is always important, and my goal is to eventually be at 100%.

The good thing is that all files have existing tests, tests for `__main__.py` for example can be found in the [`main_test.py`](https://github.com/python-security/pyt/blob/master/tests/main_test.py) file.

By running `make test` you can see where we aren't yet at 100%:

[code]

If you would like help with writing tests for

[2018-07-12 18:57] bcaller opened #145 "Specify which arguments of functions count as sinks"
SQLAlchemy allows you to construct SQL queries while preventing injection:

[code]
Here, `execute` is a sink with respect to its first argument. Any tainted input in the query should raise a warning. However, input to the remaining keyword arguments is fine and shouldn't be flagged. I want to reduce false positives.

I would like to be able to specify this somehow. Probably involving changes to `p

[2018-07-12 19:30] KevinHock commented on #145
You're amazing @bcaller, when I woke up to your 3 PRs this morning it was like Christmas Day 🎄 🎅 🎁 ☃️

I know exactly what is involved with this, I have a branch that I started with this a while ago, but my focus has been on implementing `expr_star_handler` (bool op's ifexp's etc.) in my current PR.

[Here is the branch](https://github.com/python-security/pyt/compare/per_arg_taint) we have to chan

[2018-07-12 21:29] KevinHock commented on #145
Actually, that branch does more than what this issue is. This issue can solely be solved by changing the vulnerability definitions and `vulnerabilities.py` b/c we only care about the sinks, not the blackbox functions along the way.

[2018-07-12 22:05] bcaller commented on #145
Hi @KevinHock. Thanks :santa: just some very small changes.

I'll have a look at the branch. In vulnerabilities.py I might try to alter `get_sink_args` and `get_tainted_node_in_sink_args` to get the arguments by position / keyword. Would mean running `RHSVisitor` separately on each argument. I'll have a play.

[2018-07-16 16:21] bcaller opened #146 "Capitalisation typo in expr visitor?"
https://github.com/python-security/pyt/blob/e692581255d551ae13963dab8913f729cb5023ee/pyt/cfg/expr_visitor.py#L207-L209

I'm not that sure what the correct behaviour here is.

Capitalisation looks wrong so I think `type(Node) == BBorBInode` will always be `False`. Removing the check on L209 doesn't affect the tests.

However, changing it to `type(node)` causes 15 unit test failures.

[code]

[2018-07-21 19:17] KevinHock commented on #145
Awesome 👍
I always wanted this feature :)
Let me know what you would be interested in working on next, perhaps you would be interested in `Customization is needed for open-redirects, to eliminate all false-positives, because if something tainted is used in string formatting, it typically needs to be at the very beginning of the string to be a vulnerability.` from [our last evaluation](http://pyt.r

[2018-07-21 19:18] KevinHock commented on #145
You might want the green square for closing this issue so I'll let you 👍

[2018-07-21 21:06] #145 closed

[2018-07-23 12:49] bcaller opened #149 "Pathological code causes RecursionError"
I noticed some code I had crashed pyt. I managed to reduce it to what I think is the minimum required for the RecursionError. In the original code we had a source which reached a sink and then further operations were carried out on the return value of the sink function.

[code]

If I collapse the `if` statement simply to `res = execute(query)` there is no RecursionError. If `r["a"] = f(r)` is repl

[2018-07-24 17:12] bcaller commented on #14
We can probably close this one.

New syntax features:
PEP 498, formatted string literals. works #142
PEP 515, underscores in numeric literals. nothing to do here
PEP 526, syntax for variable annotations. added #143
PEP 525, asynchronous generators. When we add support for 3.5 syntax this should come for free.
PEP 530: asynchronous comprehensions. ast node is like a normal comprehension but with an

[2018-07-24 17:18] bcaller commented on #13
Still TODO:

- [ ] `Await`
- [ ] `AsyncFunctionDef` (just make any `FunctionDef` usage also handle `AsyncFunctionDef`)
- [ ] `AsyncFor` (same as `For`)
- [ ] `AsyncWith` (same as `With`)
- [ ] `MatMult`

We also need support for earlier features:
- [ ] `While`
- [ ] `YieldFrom` (should be similar to `Await`?)

Let me know if I missed anything.

[2018-07-24 18:37] KevinHock commented on #14
Great point, thank you so much!

[2018-07-24 18:37] #14 closed

[2018-07-24 18:37] KevinHock commented on #13
LGTM, thank you so much @bcaller!

[2018-07-24 18:42] KevinHock commented on #149
I wrote this code in https://github.com/python-security/pyt/pull/81 :) I'll try to fix it after my current PR is merged, (just have `inner_most_function_call` equivalent in my `expr_star_handler` function left, I think, atm, along with existing tests.)

[2018-07-25 18:48] bcaller opened #154 "Publish new version"
Would be great to get a new release published on pypi soon.

We have over 190 commits added, though I'm not sure of the specific criteria for bumping the version.

[2018-07-25 19:07] KevinHock commented on #154
I can definitely do this one 😊 I'll make the CHANGELOG PR soon too.

[2018-07-26 00:36] KevinHock commented on #154
There is a hackathon tomorrow and Friday, so I'll be working on my open PR.

But I'll do this ticket on Saturday, note to self:
[code]

[2018-07-28 22:08] KevinHock commented on #154
I've updated the [changelog](https://github.com/python-security/pyt/blob/master/CHANGELOG.md) and bumped the version, but something is very wrong with `pip` on my laptop 😟 I'll have to do the PyPI stuff on Monday.

[2018-07-30 09:08] bcaller commented on #154
Yeah no worries, pip messes me around sometimes as well.

[2018-07-30 19:14] bcaller opened #157 "VarsVisitor RuntimeError on code like f(g(a)(b))"
If you run pyt on code like `x = f(g(a)(b))`, it will raise an Exception

[code]
Test case:
[code]
What should the result be? `['a', 'b', 'c']`? I'm not exactly sure what the function on VarsVisitor is.

[2018-07-31 02:09] KevinHock commented on #154
So in setup.py it was

[code]

Then I made [my __init__ commit](https://github.com/python-security/pyt/commit/aae962534e941fa8f58c3e40ae4b51b520707f42#diff-cc957785bef379578cab0e0ceba1ed0a) to fix https://stackoverflow.com/questions/43393764/python-3-6-project-structure-leads-to-runtimewarning

Which broke the above `pyt = pyt:main` and gave a `ImportError: module 'pyt' has no attribute 'main'` er

[2018-07-31 02:39] KevinHock commented on #154
So hopefully https://github.com/python-security/pyt/commit/76be3218525b7b24b567a709a5ebd492c0ab8585 and bumping to `0.37` worked, PyPI might be being slow b/c I can't `pip install` it yet.

Later on I'll update the CHANGELOG to include the PR of yours I merged today. 👍

[2018-07-31 02:48] KevinHock commented on #154
Updated the `CHANGELOG` as well 😉  https://github.com/python-security/pyt/commit/5b7d06b0ec5840b69f41d3678930fc6a2675d311

[2018-07-31 02:48] #154 closed

[2018-07-31 19:11] peacepirate opened #159 "No requirements.txt as mentioned in docs"
The readme mentions pip install -r requirements.txt, but the master branch does not seem to have a requirements.txt. Have the dependencies been removed completely? Seems like the installation instructions should be to run the setup.py or:
`pip install -e pyt`

[2018-07-31 19:58] KevinHock commented on #159
🙇 🙏  That's a great point @peacepirate, sorry about that, that change happened recently. I'll update the `README.rst` more extensively today or tomorrow.

Thanks for bringing that to my attention!

[2018-07-31 20:01] KevinHock commented on #159
I removed the `requirements` part in the meantime https://github.com/python-security/pyt/commit/d626efc6c45dc9cfdee4737dd4957f1047f1cf6a

[2018-07-31 20:31] bcaller commented on #13
Yield #155
Async #158
so I think this can be closed :)

[2018-07-31 20:32] KevinHock commented on #13
@bcaller, you're my hero.

[2018-07-31 20:32] #13 closed

[2018-08-02 11:37] bcaller commented on #157
@KevinHock Do you have any ideas?

[2018-08-02 16:24] KevinHock opened #161 "Permission denied on blackbox_mapping.json"
Discussion here https://github.com/python-security/pyt/commit/867f344e326a1b0a6bafa777c10b39bbd16bd184#commitcomment-29914771, but simple fix.

[2018-08-02 16:30] KevinHock commented on #157
That is interesting, I'll play around with it more today but might be `ret_g, b, c` or just `ret_g` depending on if `b` and `c` get passed to `g()` or `f()`. https://github.com/python-security/pyt/blob/master/tests/helper_visitors/vars_visitor_test.py#L43-L46

[2018-08-03 02:05] KevinHock commented on #161
Fixed, new version released, and [changelog updated](https://github.com/python-security/pyt/commit/3d722eb54e5283f3ad1ee7693c83d3ad22932de5), thanks @polyzen @bcaller 👍

[2018-08-03 02:05] #161 closed

[2018-08-03 02:13] KevinHock opened #162 "Support class-based views"
I wrote some of the code to do this in a branch https://github.com/python-security/pyt/compare/class_based_views, but since I'm working on other things and this feature seems cool and important I'm making this issue 👍

Let me know if you would like any help in implementing.

[2018-08-03 02:14] KevinHock commented on #162
cc @davidoc

[2018-08-03 02:51] KevinHock commented on #159
I made the readme a little better with a how to use section, I still have to write a walkthrough, but that's an Issue already made.
👍

[2018-08-03 02:51] #159 closed

[2018-08-07 06:14] #157 closed

[2018-08-19 20:30] nightwarrior-xxx commented on #162
Hi @KevinHock ,
I am new to projects ,how can i contribute to this issue?
Need some help to start

[2018-08-21 01:35] KevinHock commented on #162
Hi @nightwarrior-xxx, nice to meet you. Let me know if this helps, it's a rough idea on how to do this:

Read the [framework part of the docs](https://github.com/python-security/pyt/tree/master/pyt/web_frameworks)

`__usage__.py`
    Making
    https://github.com/python-security/pyt/blob/master/pyt/usage.py#L34
    'Flask(Default), Django, Every or Pylons'
    ->
    'Flask(Default), Class-Based V

[2018-08-23 01:21] KevinHock opened #168 "Add a logger and verbosity options"
So after https://github.com/python-security/pyt/pull/99 is merged, we will be be pretty accurate, accurate enough for us to shift our focus towards making the tool more resilient and able to run on lots and lots of repos.

PyT needs to be more user-friendly by letting the user know e.g. which files it is looking at, and also more resilient, logging will help with fixing issues like RecursionDepth

[2018-08-30 05:35] jzeng4 opened #170 "cannot support gbk"
if there are Chinese Characters or "encoding:gbk" string in the flask python code. pyt will crash:

##### Trying to convert file to Python 3. #####
root: Generating grammar tables from /usr/lib/python2.7/lib2to3/PatternGrammar.txt
root: Generating grammar tables from /usr/lib/python2.7/lib2to3/PatternGrammar.txt
root: Generating grammar tables from /usr/lib/python2.7/lib2to3/PatternGrammar.txt
roo

[2018-08-30 05:48] jzeng4 commented on #170
I ran pyt in OSX without any problems. But in ubuntu, I have the above issue. Please advise how to solve this problem. Thanks a lot!

[2018-08-30 10:18] bcaller commented on #170
Is your code python 2 or python 3?

Would you be able to post the file you're struggling with? At least the first few lines.

Also it looks like you're using python 3.5. Pyt will work best when run from a python 3.6 environment.

[2018-08-30 18:13] jzeng4 commented on #170
Hi bcaller

Thanks a lot for your advice. I just used python3.6 to launch pyt and it works. Thanks again!

[2018-08-30 21:39] KevinHock commented on #170
Yay :D

[2018-09-02 21:37] #170 closed

[2018-09-12 17:19] bcaller commented on #168
Initial logging framework added in #172.

[2018-09-12 17:34] KevinHock commented on #168
Good point, I forgot to close 👍

[2018-09-12 17:34] #168 closed

[2018-09-21 21:34] omergunal opened #175 "getting error"
[code]

[2018-09-21 21:43] KevinHock commented on #175
What is `x.py`?

[2018-09-21 21:52] omergunal commented on #175
I tried to scan x.py file

[2018-09-21 21:57] KevinHock commented on #175
Run `cat x.py`

[2018-09-21 23:40] bcaller commented on #175
You are running pyt with python 3.5.

Try running it in a python 3.6 environment.

[2018-09-22 13:51] omergunal commented on #175
@KevinHock
[code]

@bcaller  yes, it worked with python3.6

[2018-09-22 14:51] #175 closed

[2018-10-25 19:50] fkromer opened #176 "[Question] Is pyt adaptable to command line applications?"
I was wondering if it's possible to use pyt with / adapt pyt to command line applications? The implementation of pyt in this repository seems to based on the [source code](https://github.com/SW10IoT/pyt/tree/finalfinal) of this [thesis](https://projekter.aau.dk/projekter/files/239563289/final.pdf)? Has there changed something significantly from highest level view in the meanwhile one needs to know

[2018-10-26 09:36] bcaller commented on #176
It should work for command line applications. You just need to configure the sources of taint which will be `sys.argv` or `.parse_args(` and configure the sinks. You can remove the flask / django related functions from your triggers file. Might also want an adaptor which just starts at the main function, not sure off the top of my head.

[2018-10-26 17:04] fkromer commented on #176
The entry points to the standard library command line parsers are either `sys.argv` or explicitly passed args.

* [argparse](https://docs.python.org/3.7/library/argparse.html): [`.parse_args(`](https://docs.python.org/3.7/library/argparse.html#argparse.ArgumentParser.parse_args) (uses ` sys.argv` by default or explicitly passed args)
* [optparse](https://docs.python.org/3/library/optparse.html): `

[2018-10-26 17:21] bcaller commented on #176
Yes, so add the functions to your triggers file. I think it should just work. Try it.

[2018-10-26 17:21] #176 closed

[2018-10-26 18:13] fkromer commented on #176
I'll give it a try. I am just not sure how yet... :smile: [`Documentation coming soon.`](https://github.com/python-security/pyt/blob/master/pyt/vulnerability_definitions/README.rst)

[2018-10-27 10:28] fkromer opened #177 "Add support for sinks introduced with "from .... import ...""
Right now sinks seem to be considered during vulnerability analysis only in case of "module scope imports". E.g. vulnerabilities w.r.t. [sink `subprocess.call(`](https://github.com/python-security/pyt/blob/master/pyt/vulnerability_definitions/all_trigger_words.pyt#L36) are only detected in case the production code imports module scope wise:

[code]

In case the production code introduces the sink

[2018-10-27 10:37] fkromer commented on #176
`pyt` is adaptable to `sys.argv` based command line applications. Checkout the example on my fork [examples/vulnerable_code/cla.py](https://github.com/fkromer/pyt/blob/cla/examples/vulnerable_code/cla.py). (Probably not the best location for `cla.py`. Anyway... it works.)

[2018-10-27 14:41] bcaller commented on #177
Yep. It's the same with `import x as y`. I would like pyt to resolve fully qualified names where possible. I think whoever works on this should look at how bandit does this.

[2018-10-27 16:25] greg5678 opened #178 "SyntaxError: invalid syntax running pyt on MacOS Sierra"
I'm trying to run pyt on MacOS Sierra and it seemed to install properly with `sudo pip3 install python-taint`. When I ran pyt against a python file it printed `SyntaxError: invalid syntax`. Looking at the errors printed I believe it has to do with the python version I have installed.
[code]
[code]
[code]

[2018-10-27 20:02] KevinHock commented on #178
3.6

[2018-10-27 20:02] #178 closed

[2018-10-27 20:04] KevinHock commented on #177
This would definitely be a great feature

[2018-10-27 20:58] greg5678 commented on #178
How do I set the python version to 3.6? BTW does pty only work with python 2.7 code?

[2018-10-30 07:20] fkromer opened #180 "Add missing shell injection sinks"
We should add missing `sinks` w.r.t. "shell injection" to  [`all_trigger_words.py`](https://github.com/python-security/pyt/blob/master/pyt/vulnerability_definitions/all_trigger_words.pyt). Refer to [Bandit plugin `shell_injection`](https://github.com/PyCQA/bandit/blob/master/bandit/plugins/injection_shell.py) for more info.

[2018-10-30 07:42] fkromer commented on #177
If one looks at Bandit examples of [`B602`](https://bandit.readthedocs.io/en/latest/plugins/b602_subprocess_popen_with_shell_equals_true.html), [`B603`](https://bandit.readthedocs.io/en/latest/plugins/b603_subprocess_without_shell_equals_true.html) and [`B604`](https://bandit.readthedocs.io/en/latest/plugins/b604_any_other_function_with_shell_equals_true.html) it seems like Bandit doesn't consider

[2018-11-15 21:53] lfatty opened #185 "Increase Recursion Limit"
I noticed the error below

Is there a way to increase the recursion depth?

[2018-11-16 09:03] bcaller commented on #185
You can, but I don't think you really want to increase the recursion depth. The RecursionError usually means that there is a bug in pyt which gets it stuck in an infinite loop when it tries to analyse some code it doesn't handle well. To debug this further we'd need to see the code being analysed, preferably a minimal failing example.

[2018-11-20 00:37] adrianbn commented on #162
It may be possible to look at the class hierarchy of a `ClassDef` node recursively until you find the `View` class (or `object`) since it seems like every view type in Flask ends up inheriting from `flask.views.View`.

Then if the class does not have `flask.views.MethodView` in their base classes, look for a method called `dispatch_request`. On the other hand, if it is a descendant of `MethodView`

[2018-11-21 18:16] #133 closed

[2018-11-21 22:55] adrianbn commented on #177
I am interested in this, and in general in being able to identify sinks in a better way than currently. I tried bandit 1.5.1 on python 3.7.0 and the following code triggers B604:

[code]

[code]

[2018-11-22 08:02] KevinHock commented on #53
I'm not certain what constraints/qualifiers mean, but the we mostly do reaching definitions + fixed point. I wrote [some documentation in this readme](https://github.com/python-security/pyt/tree/master/pyt/analysis#where-do-definitions-reach), but let me know if you'd like me to clarify anything :D

We sort of kind of do that with the following:

https://github.com/python-security/pyt/blob/4b495ad

[2018-11-22 08:07] KevinHock commented on #53
We could try to turn Python code into SSA, and prune it via liveness, and add predicates so it's PSSA, and try to solve those predicates with e.g. `z3str3` etc. or something similar. But handling all node types, being performant, and being battle tested (i.e. no recursion bugs or crashes), is higher priority to me, b/c I want it to be usable and run-able on tons of codebases.

[2018-11-24 22:08] KevinHock commented on #53
I'm gonna go ahead and close this issue 👍  b/c it was solved before.

[2018-11-24 22:08] #53 closed

[2018-11-24 22:23] KevinHock opened #187 "Use function summaries instead of inlining"
We [currently use inlining instead of summaries](https://github.com/python-security/pyt/tree/master/pyt/cfg), for inter-procedural analysis, which makes PyT slower than it needs to be.

Here are some videos, specifically the last one, explains function summaries well:
[#57 Call Graphs](https://www.youtube.com/watch?v=giGqdwuZBKQ)
[#58 Interprocedural Data Flow Analysis](https://www.youtube.com/wat

[2018-11-28 01:34] possleave opened #189 "[Question] Can I install in windows? If can, how to install it?"

[2018-12-08 14:41] adrianbn commented on #146
Reading a bit on this code it does look like the correct fix here is to change the capitalization. As it stands now we're not saving the scope for any assignment that returns from a blackbox call.

I reckon this will be a bit tedious to fix since the change makes a bunch of the cfg tests fail because now they have more nodes in the CFG.

[2018-12-14 08:04] Nishant23 commented on #180
@KevinHock How can I help in this? I am new to this project.

[2018-12-17 21:51] cancan101 opened #191 "OSError: Input needs to be a file. Path: <path>/app.py"
I am running `python -m pyt -r compiq_api/` and I get:
[code]

[2018-12-18 10:55] bcaller commented on #191
This will probably be awkward to debug. Anyway...

Does the file it's looking for (`app.py`) exist?
Does one of your files try to import it e.g. `from compiq_api import app`?

Also you can try adding more logging with the `-vvv` flag. This might help you narrow down which file it's getting confused about.

[2018-12-18 18:12] cancan101 commented on #191
I created a stripped down example of the issue.
[code]
[code]
yields (cwd: `/Users/alex/git/compiq-api2/test`):
[code]

[2018-12-28 17:13] bcaller commented on #191
Thanks for the example.

Issues I see immediately (there may be more):

1. pyt is handling `from . import app` as `import .app` rather than first trying `from .__init__ import app`. https://github.com/python-security/pyt/blob/master/pyt/cfg/stmt_visitor.py#L986-L990
[code]
2. When that is solved, there will be a `RecursionError` due to the files' mutual dependency which pyt doesn't cope nicely wit

[2019-01-08 18:01] sobolevn opened #192 "python3.7 support"
Hi, I am considering adding this tools as a plugin for my own linter: https://github.com/wemake-services/wemake-python-styleguide

But, I am missing `python3.7` official support.
Are there any known problems?

I would be happy to work on this issue if you don't mind.

[2019-01-16 17:31] bcaller commented on #192
There are no problems with python 3.7. I have added it as a test environment in #193.
Python 3.8 probably won't work immediately, but you can run pyt in a python 3.6 or 3.7 environment over code targeting 3.8.

[2019-01-18 20:32] wchresta commented on #185
Happens when running against `twschiller/open-synthesis`:
[code]

[2019-01-30 21:12] #128 closed

[2019-03-23 14:40] maage opened #195 "AttributeError: 'IgnoredNode' object has no attribute 'first_statement'"
python 3.7
python-taint==0.42

[code]

a_mock.py is

[code]

[2019-03-23 15:15] maage opened #196 "RecursionError: maximum recursion depth exceeded while calling a Python object"
File a/sys.py

[code]

[code]

[code]

[2019-03-23 18:58] wchresta opened #197 "Control flow incorrect if imported functions have the same name"
When there are two modules that expose a function with the same name, and those get imported directly (using aliases), the control flow is resolved incorrectly.

Example:
`module_a.py`
[code]

`module_b.py`
[code]

`test.py`
[code]

This will lead to a control flow that calls the function `module_a.foo` twice instead of once for each version.

[2019-03-23 19:36] KevinHock commented on #197
Just read your code that fixes this, it is awesome :)

[2019-03-23 20:32] wchresta commented on #197
@KevinHock sadly I was so far unable to fix this for the moment. I'll try to look into this after #177 and #180.

[2019-03-23 21:30] wchresta opened #199 "Sources and sinks should propagate"
Since in Python functions are values, we can assign any function to any variable. This also applies to sources and sinks. At the moment, we rely on the sources and sinks to be named in a certain way for us to recognize them (recognition by name). This works for the majority of the use cases, but will not work for all since it is fundamentally not how Python works. Instead, we should fully qualify

[2019-03-24 00:20] KevinHock commented on #180
Oh no, totally missed the email notification for this, my bad.

[2019-03-24 00:21] #180 closed

[2019-03-28 12:42] ruapotato opened #201 "Inappropriate ioctl using Ubuntu and pty"
I'm working on a terminal multiplexer written in python. On Ubuntu based distros, I'm seeing the error:
[code]

On openSuSE and Fedora, I don't see the ioctl error and job contol works fine.

Example issue:
[code]
Full project: https://bitbucket.org/hackersgame/janit/src/master/

[2019-03-28 15:13] adrianbn commented on #201
Hi @ruapotato, I think you got the wrong project. It seems like you're looking for `pty`, not `pyt`.

[2019-03-28 17:53] ruapotato commented on #201
Hello @adrianbn, I think your right... Sorry for the dyslexic post.

[2019-03-28 17:53] #201 closed

[2019-03-28 23:27] adrianbn commented on #201
No worries! Good luck!

On Thu, Mar 28, 2019 at 10:59 AM ruapotato <notifications@github.com> wrote:

[2019-07-11 04:34] angel482400 opened #202 "How to put it inside the proxy?"
I want to put it in the proxy, then connect to the web application and check if there are any problems.What should I do?

[2019-09-25 15:21] sabazahra opened #205 "How to handle callbacks"
Hi,
I am trying pyt to work through callbacks. It taints the function arguments but not callbacks. If anyone has any idea about this , please let me know.

[2019-09-25 16:32] bcaller commented on #205
Hello!
Please can you give some example code to clarify what behaviour you're expecting as I'm not sure I fully understand the question.

[2019-09-25 16:33] bcaller commented on #202
Hello.
This is a static analysis tool which runs on the source code.

[2019-09-25 16:33] #202 closed

[2019-09-25 17:01] sabazahra commented on #205
Sure.
----------------------------------------------------------------------------------
class MyData:
    def __init__(self):
       self.a = None
       self.b = None
       self.x = None
       self.y = None
    def a_callback(self, msg):
        self.a = msg
    def b_callback(self, msg):
        self.b = msg
    def get_x(self):
        self.x = self.a +self.b
    def talker(self):
        pu

[2019-09-25 17:02] sabazahra commented on #205
class MyData:
def init(self):
self.a = None
self.b = None
self.x = None
self.y = None
def a_callback(self, msg):
self.a = msg
def b_callback(self, msg):
self.b = msg
def get_x(self):
self.x = self.a +self.b
def talker(self):
pub = rospy.Publisher('C', Float64MultiArray, queue_size=10)
rospy.init_node('talker', anonymous=True)
rate = rospy.Rate(10) # 10hz
while not rospy.is_shutdown():
pub.publish(

[2019-10-30 07:59] najamansari commented on #196
Hi,

I'm running into this same issue while running pyt against our DRF codebase. I cannot share the source since it is proprietary but would be delighted to provide any details I can.

[2019-10-30 17:12] KevinHock commented on #196
I apologize that I [don't have time to work on this project anymore](https://github.com/python-security/pyt#this-project-is-no-longer-maintained) :/

For posterity, I think this is duplicate of https://github.com/python-security/pyt/issues/185.

[2020-01-02 19:18] amacfie commented on #177
Close?

[2020-01-02 20:34] KevinHock commented on #177
Thanks @amacfie!

[2020-01-02 20:34] #177 closed

[2020-01-02 21:13] amacfie commented on #70
Can you elaborate on how Vulnerability 3 would ideally be handled?

[2020-01-28 01:30] amacfie commented on #70
@KevinHock defining non-propagating attributes is one idea, another unrelated one is refining sinks by specifying which specific arguments are sinks. Would these be desirable features?

[2020-01-28 01:39] KevinHock commented on #70
Sorry for the lack of replies. Please see https://pyre-check.org/docs/pysa-basics.html for the project to contribute to 👍

[2020-01-28 01:39] KevinHock commented on #70
That should work out-the-box 👍

[2020-08-18 18:32] prabhu commented on #196
I painstakingly fixed all the recursion errors and errors such as https://github.com/python-security/pyt/issues/195 in my clone used for scan.

https://github.com/ShiftLeftSecurity/sast-scan/pull/165/files

Unfortunately, there is a small decrease in the number of findings as a tradeoff for a non-crashing version. The particular PR has other unrelated changes but the changes only to lib/pyt folder

[2020-10-08 02:39] matthewdeanmartin opened #207 "Fails on Python 3.9.0"
Looks like pyt took a dependency on a private attribute that has disappeared. Yes. I saw the tool is no longer maintained, but it used to at least run on 3.8.x

[code]

[2020-10-11 08:41] DrinkTide opened #208 "o"

[2020-10-11 08:42] DrinkTide commented on #208
Y

[2020-10-11 15:03] #208 closed, assigned to nobody

[2020-10-16 16:00] FredHappyface commented on #207
Hi

I've been looking at this and pyre-check. I've found myself looking at this issue because I can't be bothered with setting up a bunch of config files with pyre-check - anyway, I've managed to stop things crashing

At the following line

[code]

Change `self.visit(node.value)` to `self.visit(node)` and it seems to be fixed

Output:
[code]

Given that this is now an unsupported project I'm wonde

[2020-10-30 09:46] FredHappyface commented on #207
I've decided to maintain this for the foreseeable future: https://github.com/FHPythonUtils/PyTaintX

[2020-10-30 18:55] KevinHock commented on #207
Would you like to maintain the non-fork @FredHappyface? i.e. this repo.

You'd certainly get more views/contributions, maintaining this repo.

[2020-10-30 18:56] KevinHock commented on #207
(Happy to still mention your repo at the top of the README of this one, if not.)

[2020-10-30 18:57] FredHappyface commented on #207
Yeah I'd love to maintain the non fork!

(Would be good to have issues in one place too)

Edit: clarify that I'd be interested in maintaining the non forked repo

[2020-10-30 19:17] KevinHock commented on #207
Thanks, I'll ask @Thalmann and @StefanMich to give you the same access as I have.

[2020-10-30 19:19] FredHappyface commented on #207
Thank you

[2021-01-24 14:20] matthewdeanmartin opened #210 "pyt usually picks the wrong encoding to load files"
[code]
sometimes this helps
[code]
but today it didn't so I'm about ready to stop using pyt... I'm somewhat worried I've been using it wrong for a few years because of the various tools I use, pyt never complained about anything, (i.e. found no vulnerabilities or bugs, neither positive or false)

If anyone ever takes over this project, then all the file open() calls should either specify utf-8 (a

[2021-03-05 02:00] FredHappyface commented on #210
Try doing `python3  -X utf8 -m pyt`

[2021-04-04 04:14] megapyroblast opened #211 "args is empty in BBorBInode when CFG generated"
Excuse me, why is there no argument in the variable args in the picture below?
![image](https://user-images.githubusercontent.com/49243003/113498367-e6f10c00-953e-11eb-9da1-348fbd48d814.png)
`cmd_result = subprocess.Popen(cmd,shell=True, stdout=subprocess.PIPE, stderr=subprocess.STDOUT, stdin=subprocess.DEVNULL).stdout.read()`
Sorry, I'm not a native speaker. I hope I'm making myself clear

[2021-07-03 20:34] davvid opened #212 "RFH: jsonpickle security detection"
I'd like to work with y'all to have snyk detect when applications use jsonpickle.decode() on untrusted/tainted inputs.

We've since added lots of warnings to jsonpickle's documentation, but working with security scanners to treat jsonpickle usage as equivalent to pickle usage is an important next step.

jsonpickle/jsonpickle#335

Please let me know what we can do to help.

[2021-07-03 20:53] davvid commented on #212
Sorry, didn't notice this project is no longer maintained.

I'll look into https://github.com/facebook/pyre-check

[2021-07-03 20:53] #212 closed, assigned to nobody

[2021-08-03 08:29] Krunal7653 opened #213 "."

[2022-01-31 06:59] william3mm opened #214 "Teste"

[2022-01-31 07:03] #214 closed, assigned to nobody

[2022-08-25 08:55] rjashishJayant opened #215 "H"

[2022-09-21 16:17] #215 closed, assigned to nobody

[2022-10-26 21:29] AdminZam opened #216 "python-security/pyt"